name: update-major

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

defaults:
  run:
    shell: bash

jobs:
  tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - id: parse
        run: |
          echo "major=$(echo "$GITHUB_REF_NAME" | grep -oE '^v[0-9]+')" >>"$GITHUB_OUTPUT"

      - uses: ./.
        with:
          ref: refs/tags/${{ steps.parse.outputs.major }}
          force: true
